html {
  scroll-behavior: smooth;
  background-color: #DBD5CD;
}

body {
  margin: 0;     
  padding: 0;      
}

#full-images {
  width: 100%; 
  margin: 0;      
  padding: 0; 
  position: relative; /* Ensures both logo and images can be positioned correctly */
}

#full-images img {
  max-width: 100%;  
  height: auto;    
  display: block;  
  margin: 0 auto;  
  pointer-events: none;
}

#intro {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; 
}

#intro img {
  max-width: 37vmax;
  pointer-events: none;
}